/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inconsolata:wght@200;400&family=Lobster&family=Long+Cang&display=swap');
body{
    background:url(/images/background/pexels-engin-akyurt-1458426.jpg);
    color: chartreuse;
    margin: auto; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    

}
img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  } 

  h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Satisfy', cursive;
  }
  h2 {
    background-color: black;
    color: white;
  }
   .flex-container-2 {
    color:white; 
     text-align:center; 
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;


  }
  .flex-container img {
    width: 150px;

  }
  .contact{
    color:white;
    text-align: center;
  }
  #piz {
    height: 30%;
    width: 30%;
  }
  .flex-container-1 {
    
    flex-direction: row; 
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30%;
    width: 30%;

  }